$orange: rgba(243, 160, 86, 255); // the default color for inputs borders

$sand_color: rgba(
  249,
  226,
  158,
  255
); // the default color for textareas borders

$purple: rgba(211, 179, 241, 255); // the default color for buttons borders

$gray: rgba(
  148,
  147,
  147,
  255
); // the default color for the authors section border

$light_blue: rgba(
  164,
  212,
  239,
  255
); // the default color for the container, where form is placed

$white: #fff;

$danger: #dc3545; // color for errors: error message color and controls border

$light_red: rgba(241, 145, 145, 255); // color for header border
