<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-box">
      <label for="title">Title:</label>
      <input
        type="text"
        placeholder="Title"
        formControlName="title"
        id="title"
      />
      <span
        class="error"
        *ngIf="form.get('title').invalid && form.get('title').touched"
      >
        <small *ngIf="form.get('title').errors['required']">
          Title password is required.
        </small>
        <small
          *ngIf="
            form.get('title').errors['minlength'] &&
            form.get('title').errors['minlength']['requiredLength']
          "
          class="error"
        >
          Title should be bigger then
          {{ form.get("title").errors["minlength"]["requiredLength"] }}
          symbols. Now
          {{ form.get("title").errors["minlength"]["actualLength"] }}
          symbols.
        </small>
      </span>
    </div>

    <div class="input-box">
      <label for="message">Message:</label>
      <input
        type="text"
        placeholder="Message"
        formControlName="message"
        id="message"
      />
      <span
        class="error"
        *ngIf="form.get('message').invalid && form.get('message').touched"
      >
        <small *ngIf="form.get('message').errors['required']">
          Title password is required.
        </small>
        <small
          *ngIf="
            form.get('message').errors['minlength'] &&
            form.get('message').errors['minlength']['requiredLength']
          "
          class="error"
        >
          Message should be bigger then
          {{ form.get("message").errors["minlength"]["requiredLength"] }}
          symbols. Now
          {{ form.get("message").errors["minlength"]["actualLength"] }}
          symbols.
        </small>
      </span>
    </div>

    <div class="btn-box">
      <button type="submit" [disabled]="form.invalid">Ok</button>
      <button (click)="onNoClick()" type="button">Cancel</button>
    </div>
  </form>
</div>
